.message-pool.col-xs-6
  .message-pool-header
    %h2.text-center
      Messages
  .message-pool-create
    = bootstrap_form_for [current_user, message] do |f|
      %header.row
        %h2(style="margin-left: 15px;") Write a message...
      .row
        %fieldset.col-sm-8
          .row
            .col-sm-6
              = f.select :emoji, options_for_emojis
          = f.text_area :message
        %fieldset.actions.control-group.col-sm-8
          .controls.form-group
            %input(type="submit" value="Submit" class="btn btn-default")
  .message-pool-collection(ondrop="drop_handler(event);" ondragover="dragover_handler(event);")
    - current_user.messages.each do |message|
      - unless message.dispenser
        = render partial: 'messages/message', locals: { message: message }

= javascript_include_tag 'draggable'
= javascript_include_tag 'popover_activate' 
