= javascript_include_tag 'popover_activate' 

%section.home.clearfix.well
  = render partial: 'messages/module', locals: { message: @message }
  .dispenser-pool.col-xs-6
    .dispenser-pool-header.row
      %h2.text-center
        Dispensers
    .dispenser-pool-collection.text-center.row
      .dispenser-container
        .add-dispenser
          = link_to new_user_dispenser_path(current_user) do 
            %i(class="glyphicon gi-3x glyphicon-plus")
      - current_user.dispensers.each do |dispenser|
        .dispenser-container
          .dispenser
            .dispenser-head
              %h4.text-center
                = dispenser.purpose_statement
            .dispenser-body
              %dl
                %dt
                  Type
                %dd
                  Random Sprinkles of Affection
                %dt
                  Messages Left
                %dd
                  = DispenserDecorator.new(dispenser).remaining_messages
                %dt
                  Upcoming Message
                %dd
                  IMPLEMENT: Sending sometime today.
      

