= javascript_include_tag 'dispenser_selection'

%section.home.clearfix.well
  .dispenser-pool
    .row
      .dispenser-pool-header
        %h2.text-center
          Select Your Dispenser Type
          - # Unless this is edit!
    .row
      .dispenser-select.col-xs-offset-2.col-xs-8
        %a.btn.btn-default(id="sprinkles-show" href="#")
          Random Sprinkles
        %a.btn.btn-default(id="story-show" href="#")
          Story Sequence
    .row
      .dispenser-create.col-xs-offset-2.col-xs-8.hide(id="sprinkles-form")
        = bootstrap_form_for [current_user, @sprinkles_dispenser] do |f|
          .row
            %fieldset.col-xs-8
              .row
                .col-xs-6
                  = f.select :significant, options_for_significants(current_user.significants), label: "Recipient"
                .col-xs-6
              = f.text_field :purpose_statement, label: "Label for this Dispenser", placeholder: "To encourage Sally..." 
            %fieldset.actions.control-group.col-xs-8
              .controls.form-group
                %input(type="submit" value="Submit" class="btn btn-default")
      .dispenser-create.col-xs-offset-2.col-xs-8.hide(id="story-form")
        = bootstrap_form_for [current_user, @story_dispenser] do |f|
          .row
            %fieldset.col-xs-8
              .row
                .col-xs-6
                  = f.select :significant, options_for_significants(current_user.significants), label: "Recipient"
                .col-xs-6
              = f.text_field :purpose_statement, label: "Label for this Dispenser", placeholder: "To encourage Sally..." 
            %fieldset.actions.control-group.col-xs-8
              .controls.form-group
                %input(type="submit" value="Submit" class="btn btn-default")
